<% if logged_admin? %>
		<%= render 'home/admin' %>
<% else %>
  <div class="row" style="width: 100%">
    <div class="col-sm-1"></div>
  	<div class="col-sm-7 articles">
	  	<% @last_articles.each do |i| %>
		    <%= render 'last_article', article: i %>
		  <% end %>
  	</div>
  	<div class="col-sm-3">
  	  <div class="well" style="width: 90%; float: right;">
  	    <div class="well well-sm" style="background: #bcd5d1;">
	  		  <h2 id="tags">Tags</h2>
	  		</div>
	  			<span class="link-tag"><%= raw @tags.map(&:tag_name).map { |t| link_to t, tag_path(t) }.join(' ')%></span>
  		</div>
  		<div class="well" style="width: 90%; float: right;">
  	    <div class="well well-sm" style="background: #bcd5d1;">
	  		  <h2 id="tags">Popular Posts</h2>
	  		</div>
	  			<span class="link-tag"><%= raw @tags.map(&:tag_name).map { |t| link_to t, tag_path(t) }.join(' ')%></span>
  		</div>
  		<div class="well" style="width: 90%; float: right;">
  	    <div class="well well-sm" style="background: #bcd5d1;">
	  		  <h2 id="tags">Popular Users</h2>
	  		</div>
	  			<span class="link-tag"><%= raw @tags.map(&:tag_name).map { |t| link_to t, tag_path(t) }.join(' ')%></span>
  		</div>
  		<div class="well" style="width: 90%; float: right;">
  	    <div class="well well-sm" style="background: #bcd5d1;">
	  		  <h2 id="tags">Popular Posts</h2>
	  		</div>
	  			<span class="link-tag"><%= raw @tags.map(&:tag_name).map { |t| link_to t, tag_path(t) }.join(' ')%></span>
  		</div>
  	</div>
  	</div>
  	</div>
  	<div class="col-sm-1"></div>
  </div>
<% end %>