<table style="width: 97%;">
	<tr>
		<td id="p-u-photo" rowspan="3" valign="top"><%= image_tag post.user.photo_user.url, class: "img-circular" %></td>
		<td colspan="2"><h3 id="post"><%= post.user.name + " " + post.user.surname %></h3></td>
		<td>
			<div id="data-post"
				<% if post.created_at %>
	        <span><i class="glyphicon glyphicon-calendar"></i>
	          Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
	      <% end %>
	    </div>
    </td>
	</tr>
	<tr>
		<td colspan="3"><p id="post">&emsp;<%= post.content %></p></td>
	</tr>
	<tr>
		<td colspan="3" id="aaa">
			<ul class="list-inline list-unstyled">
				<a href="#comment<%= post.id %>" class="add_comment" data-toggle="collapse">Add comment(<%= post.comments.count %>)</a>
        <li>|</li>
        <li>
          <% if current_user?(post.user) %>
            <span><%= link_to "Delete post", post, method: :delete, data: { confirm: "You sure?" }, :class =>"add_comment" %></span>
          <% end %>
        </li>
        <li>|</li>
        <li class="add_comment">Likes</li>
        <div id="comment<%= post.id %>" class="collapse">
  				<div class="col-sm-11" style="margin-left: 70px; margin-top: 30px;">
      			<%= render 'comments/comment_form', commentable: post, comment: Comment.new %>    
    				<% unless post.comments.empty? %>
      				<% post.comments.each do |c| %>
        				<%= render 'comments/comment_show', comment: c %>
      				<% end %>
    				<% end %>
  				</div>
				</div>
      </ul>
		</td>
	</tr>
</table>
<hr style="background: black; height: 3px;">