<div class="left-half">
  <nav class="navbar navbar">
    <div class="container-fluid-login">
      <ul class="nav navbar-nav">
        <li class="link-login""><%= link_to "HOME", root_path, class: 'link-text-login'%></li>
        <li class="link-login"><%= link_to "BOOKS", books_path, class: 'link-text-login'%></li>
        <li class="link-login"><%= link_to "AUTHORS", authors_path, class: 'link-text-login'%></li>
        <li class="link-login"><%= link_to "GENRES", categories_path, class: 'link-text-login'%></li>
        <li class="link-login"><%= link_to "SEARCH", search_path, class: 'link-text-login' %></li>
      </ul>
    </div>
  </nav>
  <h1 class="welcom">WELCOME</h1>
</div>
