<!DOCTYPE html>
<html>
  <head>
    <title>GoodBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery.multiselect.min" %>
    
    <link href='//fonts.googleapis.com/css?family=Ribeye Marrow' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
  </head>

  <body>
    <% if current_page?(controller: 'users', action: 'create') %>
      <%= render 'layouts/header_login' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>